@font-face {
    font-family: 'Lato-Bold';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('/fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Hairline';
    src: url('/fonts/Lato-Hairline.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreBaskerville-Italic';
    src: url('/fonts/LibreBaskerville-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'LibreBaskerville-Regular';
    src: url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

body{
    background: url('../img/bg_landing.png');
    -webkit-background-size:cover;
    background-size:cover;
    font-family:'Lato', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.header .menu-container{
    display: flex;
    flex-direction: column;
}
.header .menu-container .signup{
    align-self: flex-end;
}
.header .menu-container .signup button{
    padding: 8px 8px;
    background: #3c3c3c;
    color: #f9fbfa;
    border:none;
}
.header .menu-container .signup .fa{
    padding:5px;

}
.menu ul{
    list-style: none;
}

.menu ul li.active{
    color: #000;
}
.menu ul li.social{
    padding: 0;
    font-size:20px;
    color: #262827;
}

.menu ul li{
    font-family:'Lato-Bold',sans-serif;
    display: inline;
    color: #575556;
    padding: 0 20px;
    font-weight: 600;
    font-size: 14px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero h1{
    font-family:'Lato',sans-serif;
    font-size: 45px;
    font-weight: 300;
    color: #484846;
    width: 38vw;
}

button{
    padding: 22px 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.hero button{
    background: #056b46;
    border: 0;
}

.white-letter{
    color: #FFF;
    display: flex;
    flex-direction: column;

    padding:180px 80px 80px 80px;
}

.white-letter.right{
    align-items: flex-end;
}
.white-letter.left{
    align-items: flex-start;
}

.white-letter h2{
    font-size: 40px;
    margin-bottom:0;
}
.white-letter p{
    padding: 0;
    margin: 0;
}
.white-letter h3{

    width: 38vw;
    font-family:'Lato',sans-serif;
    font-weight:300;
    font-size: 30px;
}
.white-letter.right h3{
    text-align: right;
}
.white-letter.left h3{
    text-align: left;
}

.white-letter button{
    border:1px solid #FFFFFF;
    background: transparent;
}

.green-letter{
    padding:90px 166px;
}

.green-letter h2{
    color: #056b46;
    font-size: 40px;
    font-weight:300;
    margin: 0;
}
.green-letter h2.subtitle{
    font-weight: 600;
}
.green-letter .info{
    color: #888580;
    width:30vw;
    margin-bottom: 80px;
    line-height: 1.4;
}
.green-letter button{
    background: #69b74a;
    border:0;
}

.green-letter.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 350px 250px 200px 250px;
}

.green-letter.right p{
    text-align: right;
}
